.assets {

        

    &__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: -30px;
    justify-content: space-between;
    }

    &__item {
    margin-bottom: 30px;
    
    }

    &__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--dark-text-color);
    line-height: 1.14em;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    }

    &__text {
    font-size: 14px;
    color: var(--main-color);
    line-height: 1.71em;
    letter-spacing: 0.03em;
    }

    &__icon {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: var(--background-light-color);
    }
}


@media screen and (min-width: 768px) {
    .assets {
        padding-bottom: 0px;

        &__list {
            flex-flow: wrap;
            gap: 30px;
        }
        &__item,
        &__icon {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}

@media screen and (min-width: 1200px) {
    .assets__list {
        flex-flow: nowrap;
    }
    .assets__text {
        margin: 0;
    }
}