.section__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-text-color);
    line-height: 1.17em;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
}