.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }
    &__title {
        font-size: 36px;
        line-height: 1.16;
        display: flex;
        justify-content: center;
        margin: 0;
        padding-bottom: 50px;
    }
    &__title--footer {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        margin-top: 0;
        margin-bottom: 20px;
    }
}
@media(min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}